*{
  margin:0:
padding:0;
}
h1{
text-align:enter
}
body{
  background:#cccccc
}
p{
  text-align:center;
  font-size:2 opx;
}
#missao{
font-size:30px;
}
#banner{
width:100%;
}h1{
}
em strong{
  color:orange;
}
 
